*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, rgb(93, 216, 65) 18%, rgba(255,198,142,1) 78%);
    min-height: 100vh;
}

main{
    display: inline-block;
    top: 2%;
    padding: 10px;
    position: relative;
}

h1{
    color: rgba(255, 0, 0, 0.728);
    font-size: 40px;
}

.pokedex{
    width: 100%;
    max-width: 440px;
}

.pokemon_image{
    position: absolute;
    bottom: 49%;
    left: 50.4%;
    transform: translate(-63%, 5%);
    height: 17%;
}

.pokemon_data{
    display: flex;
    position: absolute;
    align-items: center;
    font-weight: 600;
    color: #aaa;
    top: 57%;
    right: 26%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_data div{
    display: grid;
    align-items: baseline;
    justify-content: center;
    align-content: space-between;
    justify-items: end;
    padding-right: 2%;
}

.type_pokemon, .type_pokemon_two{
    width: 47%;
}

.pokemon_name{
    color: black;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 65%;
    top: 67%;
    left: 13.5%;
}

.input_search{
    width: 100%;
    padding: 4%;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: black;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.input_search:focus{
    outline: 0;
}

.buttons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #fff;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}